<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Produto</title>

</head>
<body>
    <h1>Produto</h1>
    <table>
        <thead>
            <th>Nome</th>
            <th>Preço</th>
            <th>Quantidade</th>
        </thead>
        <tbody>
            <tr>
                <td>{{ produto.nome }}</td>
                <td>{{ produto.preco }}</td>
                <td>{{ produto.quantidade }}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>